#__next {
  display: flex;
  justify-content: center;
}

main {
  margin: 16px;
  max-width: 774px;
  width: 100vw;
}
section {
  background: #ffffff;
  border-radius: 15px;
  padding: 36px;
  width: 100%;
  display: block;
  margin-bottom: 32px;
}

h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  /* or 132% */

  display: flex;
  align-items: center;
  margin-bottom: 8px;
  /* Text 2 */

  color: #4e5d78;
}

p {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  /* or 207% */

  display: flex;
  align-items: center;
  margin: 0;

  /* Text 2 */

  color: #4e5d78;
}
p.light {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  /* or 207% */

  display: flex;
  align-items: center;

  /* Text 4 */

  color: #b0b7c3;
}

p.subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 23px;
  margin-top: -4px;
  /* or 196% */

  display: flex;
  align-items: center;

  /* Text 3 */

  color: #b0b7c3;
}

p a {
  color: #4388f8;
  text-decoration: none;
}

/* BUTTON-------------------- */

button {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 24px;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 29px;

  background: #fafbfc;
  color: #b0b7c3;
  border: none;

  gap: 8px;
  transition: 0.15s;
  cursor: pointer;
}

button:hover {
  background: white;
  color: #4e5d78;
  box-shadow: 0px 4px 4px rgba(176, 183, 195, 0.17);
}

button.primary {
  background: #4388f8;
  color: #ffffff;
}

button.icon {
  padding: 4px;
}

/* LISTS--------------------- */

ul.large-list {
  list-style-type: none;
  padding: 0;
}
ul.large-list > *:first-child {
  margin-top: 15px;
}
ul.large-list > *:not(:last-child) {
  margin-bottom: 10px;
}
ul.large-list li {
  height: 69px;
  padding: 0 21px;
  background: #ffffff;
  border-radius: 15px;
  transition: 0.15s ease;
  cursor: pointer;
}
ul.large-list li:hover {
  background: #fafbfc;
}
ul.large-list li div {
  width: 100%;
}

ul.large-list li.disabled-link {
  cursor: not-allowed;
}
ul.large-list li.disabled-link p {
  color: #b0b7c3;
}
ul.large-list li.disabled-link:hover {
  background: white;
}

ul.large-list li.list-header {
  background: #fafbfc;
  cursor: default;
  margin-top: 24px;
  margin-bottom: 15px;

  ont-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  /* or 200% */

  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* ICONS---------------------- */
.svg-container {
  min-width: 32px;
  min-height: 32px;
  display: block;
  box-sizing: border-box;
  background: #fafbfc;
  border-radius: 100%;
}
.svg-container svg {
  display: block;
}

/* FLEXBOX-------------------- */
.flex-center-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-center-btw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
